body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 100% !important;
  padding: 0 !important;
}

.title {
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 48px;
}

.small-spinner {
  width: 48px;
  height: 48px;
  color: white;
  display: flex !important;
  margin: auto !important;
}
