body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  /* position: relative;
  width: 960px !important;
  background-color: #F8F8F8;
  padding: 0 !important;
  margin: auto !important; */
}

textarea:hover, 
input:active, 
input:focus,
select:active, 
select:focus, 
textarea:active, 
textarea:focus, 
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0 !important;
    border-color: #2C31A3 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.button-primary {
    color: #fff;
    background-color: #2C31A3 !important;
    border: 0 !important;
    padding: 12px 24px !important;
    /* background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%) !important; */
}

.button-secondary {
    color: #fff;
    border: 0 !important;
    padding: 12px 24px !important;
    background-color: gray;
}

.input-label {
  color: #62748e;
  font-size: 14px;
  margin-bottom: 4px;
}

.input-icon {
  color: #2C31A3 !important;
  width: 16px !important
}

.primary-color {
  color: #2C31A3;
}

.error-mssage {
  color: red;
  margin: 0 auto;
  font-size: 14px;
}

.spinner {
  width: 48px;
  height: 48px;
  color: #2C31A3;
  display: flex !important;
  margin: auto !important;
}

.error-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.invalid-route-image{
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
}

.back-to-home {
  color: #2C31A3;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding-left: 36px;
  cursor: pointer;
}

.product-list-header {
  background-color: #2C31A3;
  padding: 16px 24px;
  margin-bottom: 8px;
  position: fixed;
  width: 100%;
  z-index: 100;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.product-list-container{
  background-color:#F8F8F8;
  height: 100vh;
}

.product-list {
  padding-top: 68px;
}

.add-product {
  background-color: #2C31A3;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 16px;
  bottom: 16px;
  padding: 10px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
}

.product-action {
  font-size: 16px;
  color: #2C31A3;
  display: block;
  margin-top: 8px;
  cursor: pointer;
}

.product-item {
  padding: 8px 16px;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.product-name {
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px !important;
  padding-right: 15px;
}

.product-price {
  color: #8C8C8C;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px !important;
}

.product-description {
  color: #8C8C8C;
  font-size: 14px;
  font-weight: 400;
}

.product-count {
  color: #8C8C8C;
  font-size: 14px;
  font-weight: 400;
}

.select-product-container {
  margin-top: 8px;
}

.select-product-image {
  color: #2C31A3;
  cursor: pointer;
}

.selected-file-name {
  color: #8C8C8C;
  font-size: 14px;
  margin-left: 8px;
}

.pagination-container {
  padding: 48px 0;
  width: 50%;
  margin: 0 auto;
}

.pagination-container ul{
  justify-content: center;
}

.page-item.active .page-link{
  background-color: #2C31A3 !important;
  border-color: #2C31A3 !important;
  color: white !important;
}

.page-link {
  color: #2C31A3 !important;
}

.reached-end-of-list {
  color: #2C31A3;
  font-size: 20px;
  padding: 16px;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    /* position: relative;
    width: 960px !important;
    background-color: #F8F8F8;
    padding: 0 !important;
    margin: auto !important; */
  }

  .product-image {
    width: 72px;
    height: 72px;
  }

  .pagination-container {
    width: 100%;
  }

  .invalid-route-image{
    width: 360px;
    height: 360px;
    margin: 36px auto;
  }
}